body {
	margin: 0px;
}

/* style paska nawigacji*/
header {
	background-color: white;
}

header::after {
	content: " ";
	display: table;
	clear: both;
}

.pudelko {
	width: 100%;
	margin: 0;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: white;
	box-shadow: 0 2px 4px 0 black;
}

nav a {
	color: black;
	font-style: unset;
	font-family: "Minimal";
	font-size: 25px;
	text-decoration: none;
	padding: 0 10px;
}

nav ul {
	margin: 29px;
	padding: 10px;
	list-style: none;
	display: inline-block;
}

nav li {
	display: inline-block;
}

.logo {
	background-color: white;
	position: relative;
	float: left;
	z-index: 1;
	left: 40px;
}

#prawa_strona {
	float: right;
}

#socialmedia img {
	width: 30px;
	position: relative;
	right: 10px;
	padding: 0 1px;
	top: 5px;
	display: inline-block;
}

#line {
	text-align: center;
	position: relative;
	height: 2px;
	width: 70%;
	border-width: 0;
	color: black;
	background-color: black;
}

/* część główmna*/
#main_heading {
	color: black;
	text-align: center;
	font-family: "Minimal";
	font-size: 40px;
}
/* część główmna*/
#basic_information_box {
	border-color: black;
	border: 3px solid;
	height: 100%;
	margin: 30px;
}

#rodzaje{
	border-color: black;
	border: 3px solid;
	height: 100%;
	margin: 30px;
	display: table;
}

/* style stopki*/
footer {
	margin: 0px;
}

#color_block {
	
	height: 200px;
	display: inline-block;
}

#left_half {
	background-color: #c29669;
	height: 100%;
	width: 50%;
	left: 0;
	font-family: "Minimal";
	color: white;
	display: inline-block;
}

#right_half {
	background-color: wheat;
	height: 200px;
	width: 50%;
	right: 0;
	font-family: "Minimal";
	color: white;
	display: inline-block;
}
